.wrapper {
    display: flex;
    background: wheat;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.list {
    cursor: pointer;
    margin: 10px;
}

.main {
    cursor: pointer;
    margin: 10px;
}